<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>615094708551-qe69k7smp2nruqql7b8dl6qpbvrf566i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.615094708551-qe69k7smp2nruqql7b8dl6qpbvrf566i</string>
	<key>API_KEY</key>
	<string>AIzaSyAsXjo-yZ-SXBGCyP_s1blbnHuActtgd2o</string>
	<key>GCM_SENDER_ID</key>
	<string>615094708551</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lumsStudentPortal</string>
	<key>PROJECT_ID</key>
	<string>lums-student-portal</string>
	<key>STORAGE_BUCKET</key>
	<string>lums-student-portal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:615094708551:ios:d43af1cb79c645f0dfc462</string>
</dict>
</plist>